html {
  scroll-behavior: smooth;
}

.metaportal_fn_leftnav .nav_holder .active ~ .sub-menu {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.metaportal_fn_leftnav .nav_holder .active ~ .sub-menu::-webkit-scrollbar {
  width: 0px;
}
#ripple {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.something{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.heading {
  position: absolute;
  top: 50%;
  width: 1100px;
  color: white;
  z-index: 99;
}